<style>
	body {
		background-image: none;
		margin: 0;
		padding: 0;
  }
</style>

<script>
	window.data = <%= raw @pages.to_json %>
	$(document).ready(sibylEditor);
</script>

<div class="tiles">
    <div class="controls">
			<button id="close" type="button" class="ui-button ui-corner-all ui-widget ui-button-icon-only ui-dialog-titlebar-close" title="Close"><span class="ui-button-icon ui-icon ui-icon-closethick"></span><span class="ui-button-icon-space"> </span>Close</button>
			<div id="title">Sibyl Editor</div>
			<div id="current_labels">
				Task: <span id="task"></span><br /><br />
				Form: <span id="form"></span>
			</div>
			<input type="button" id="save_form" class="ui-button ui-widget ui-corner-all" value="Save Form" title="Save data for form" />
			<input type="button" id="open_image" class="ui-button ui-widget ui-corner-all" value="Open Image" title="Open image in default editor" />
			<a href="/sibyl/editor/scaffold/<%= @task %>" class="ui-button ui-widget ui-corner-all" id="scaffold" title="Create scaffold for task">Create Scaffold</a>
			<select id="page_number"></select>
			<div id="page_buttons">
				<input type="button" value="Previous" id="previous_page" class="ui-button ui-widget ui-corner-all" title="Go to previous page" />
				<input type="button" value="Next" id="next_page" class="ui-button ui-widget ui-corner-all" title="Go to next page" />
			</div>
			<div id="tabs">
				<ul>
	 				<li id="new_field"><a href="#tabs-1" title="Current element">Element</a></li>
	 				<li id="elements"><a href="#tabs-2" title="List of elements">List</a></li>
	 				<li id="jsonTab"><a href="#tabs-3" title="JSON View">JSON</a></li>
 				</ul>
 				<div id="tabs-1">
					<p>Element Name</p>
					<select id="select_element_name" class="element_text" title="Select an existing element name from the task">
						<option value="custom">Custom Element Name</option>
					</select>
					<div id="task"></div>
					<input type="text" id="custom_element_name" class="element_text" placeholder="Element Name" />
					<div id="position_controls">
						Select XY
						<div class="box">
							X: <input type="text" id="dx" class="xy_select" placeholder="X" /><br />
							Y: <input type="text" id="dy" class="xy_select" placeholder="Y" /><br />
							<input type="button" id="locate" value="Locate Element" class="ui-button ui-widget ui-corner-all" title="Find element location on the page" />
						</div>
					</div>
					<label for="column">Column?</label>
					<input type="checkbox" checked="checked" name="column" id="column" title="Should this element be a database column?" />
					<label for="font_size">Font Size</label>
					<select name="font_size" id="font_size" title="Font size on the page">
						<%= 1.upto(48).each do |i| %>
							<option value="<%= i %>" <%= i == 18 ? 'selected="selected"' : '' %>><%= i %></option>
						<% end %>
					</select>
					<br /><br />
					<label for="default_element_content">Default Element Content</label>
					<input type="text" class="element_text" id="default_element_content" name="default_element_content" title="What is the default content?" />
					<input type="button" id="save_element" class="ui-button ui-widget ui-corner-all" value="Save Element" title="Save element and go to list" />
 				</div>
 				<div id="tabs-2">
					<div class="scrollContainer">
						<table id="elements_list">
						</table>
					</div>
 				</div>
 				<div id="tabs-3">
					<div class="scrollContainer">
						<div id="jsonView" class="code apache hljs">
						</div>
					</div>
					<div id="json" style="display: none">
						{}
					</div>
 				</div>
			</div>
		</div>
    <div class="tile">
		</div>
</div>
